/*全局样式表*/
html,body,#app{
    height:100%;
    margin:0;
    padding:0;
    min-width:1366px;
}
.el-breadcrumb{
    margin-bottom:10px;
    font-size:12px;
}
.el-card{
    /* Box-shadow  box-shadow:0 1px 1px  1px四个值分别代表 1向右偏移量，2代表垂直偏移量，3代表模糊度，4代表阴影区域,最后括号代表阴影颜色
    在这里只有三个是省略了第四个参数*/
    box-shadow:0 1px 1px rgba(0,0,0,0.15) !important;
}
.el-table{
    margin-top:15px;
    font-size:12px;
}
.el-pagination{
    margin-top:15px;
}
